@font-face {
    font-family: 'Acumin Pro Regular';
    src: url('../fonts/ACUMIN-PRO-REGULAR.TTF');
    font-weight: 400;
}
/*@font-face {
    font-weight: normal;
    font-family: 'Acumin Pro Regular';
    src: url('../fonts/ACUMIN PRO CONDENSED.TTF');
}*/

.ck-editor__editable,
textarea {
    min-height: 550px;
}
.datatable {
    width: 100% !important;
}
.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}
.dataTables_filter {
    margin-right: .2rem;
}
.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}
.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}
table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
/***********17-sep-2021*********/
.loginpage{
    background: #fff;
    overflow-y: hidden;
}
.main-login .col-sm-8 {
    width: 60%;
}
.secretarybanner img {
    width: 100%;
    /*height: 100vh;*/
}
.login-section {
    padding-top: 20px;
    margin: 50px;
}
.login-section h1 {
    font-family: 'Acumin Pro Regular';
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}
.login-section p.lead {
    font-family: 'Acumin Pro Regular';
    font-weight: 600;
    color: #000;
    font-size: 15px;
    letter-spacing: .5px;
    margin-top: 50px;
}
.login-section small a {
    color: #000;
    font-weight: 500;
    font-family: 'Acumin Pro Regular';
    letter-spacing: .5px;
    font-size: 12px;
}
.login-section span.form-check-label {
    color: #000;
    font-weight: 500;
    font-family: 'Acumin Pro Regular';
    letter-spacing: .5px;
    font-size: 14px;
}
.inputstyle {
    box-shadow: 0px 3px 9px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    font-size: 14px;
    height: 40px;
    padding: 8px 20px;
}
.inputstyle:focus {
    outline: none;
    border-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}

.btn-primary {
    background-color: #0C2556;
    border-color: #0C2556;
    border-radius: 3px;
    height: 40px;
}
.btn-primary:hover{
    background-color: #113477;
    border-color: #113477;
}
.btn-primary:active{
    background-color: #0C2556;
    border-color: #0C2556;
    color: #fff;
}
.btn-primary:focus{
    background-color: #0C2556;
    border-color: #0C2556;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn-secondary {
    color: #f1f1f1;
    background: #828ea7;
    border-color: #828ea7;
    border-radius: 3px;
    height: 40px;
}
.btn-secondary:hover{
    background: #828ea7;
    border-color: #828ea7;
}
.btn-secondary:active{
    color: #f1f1f1;
    background: #828ea7;
    border-color: #828ea7;
}
.btn-secondary:focus{
    color: #f1f1f1;
    background: #828ea7;
    border-color: #828ea7;
    outline: none;
    box-shadow: none;
}
.loginbtn .btn-primary {
    padding: 6px 40px;
}
.logo a h1 {
    font-family: 'Acumin Pro Regular';
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    color: #000;
    margin-bottom: 0;
}
.logo a:hover{
    text-decoration: none;
}
.navbar-bg {
    background: #f1f1f1;
    box-shadow: 0px 3px 6px #00000029;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-expand .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0;
    font-size: 13px;
    margin-top: 10px;
    min-width: 100px;
}
.dropdown-divider {
    height: 0;
    margin: 0px 10px;
    overflow: hidden;
    border-top: 1px solid #f1f1f1;
}
.navbar-align .dropdown-toggle:after{
    display: none;
}
.togglebar i {
    font-size: 18px;
    color: #999;
    margin-left: 25px;
}
.content {
    padding: 0;
}
.border-right{
    border-right: 1px solid #dee2e6 !important;
}
.dashboard-left h2 {
    font-family: 'Acumin Pro Regular';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #0C2556;
    padding-top: 15px;
    margin-bottom: 20px;
}
.dashboard-right .nav-tabs {
    background: #fff;
    padding: 12px;
    padding-bottom: 0;
}
.dashboard-right .nav-tabs li a.active {
    border-bottom: 2px solid #0C2556;
    padding-bottom: 7px;
}
.dashboard-right .nav-tabs li.active {
    border-bottom: 2px solid #0C2556;
}
.dashboard-right .nav-tabs li {
    padding: 0 25px;
    margin-bottom: 15px;
    line-height: 30px;
}
#messagetab1 li {
    margin-bottom: 0px;
}
.dashboard-right .nav-tabs li a {
    font-family: 'Acumin Pro Regular';
    color: #0C2556;
    text-decoration: none;
    font-size: 15px;
    line-height: 21px;
}
.messagebtn .btn-primary {
    font-size: 14px;
    font-weight: 500;
    padding: 8.5px 29px;
    color: #f1f1f1;
}
.searchmember {
    margin-top: 20px;
    margin-bottom: 20px;
}
#searchinput input {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#searchinput .input-group-btn {
    position: absolute;
    right: 20px;
    left: auto;
    top: 5px;
    cursor: pointer;
    z-index: 9999;
}
#searchinput .input-group-btn .fa-search {
    -webkit-text-stroke: 1px #ffffff;
    color: #707070;
    font-size: 18px;
    position: relative;
    top: 6px;
}
.searchkeyword ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 8px;
}
.searchkeyword label {
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
}
.searchkeyword .custom-radio label > input {
    visibility: hidden;
    position: absolute;
}
.searchkeyword label > input + .forcustom {
    cursor: pointer;
    box-shadow: 0px 3px 8px #00000021;
    background-color: #fff;
    border-radius: 4px;
    border-color: #fff;
    font-size: 13px;
    padding: 9.5px 19px;
    line-height: 18px;
    color: #979797;
    font-family: 'Roboto';
}
.searchkeyword label > input:checked + .forcustom {
    border: none;
    color: #f1f1f1;
    background: #0C2556;
}
.searchkeyword label > .counter {
    position: absolute;
    right: -6px;
    background: #0c2556;
    z-index: 999;
    color: #fff;
    font-size: 11px;
    width: 18px;
    text-align: center;
    padding: 1px;
    border-radius: 50px;
    height: 18px;
    bottom: 20px;
}
.searchkeyword {
    width: 100%;
    display: inline-block;
}
.panel-default .panel-heading {
    background: #0c2556;
    color: #f1f1f1;
    padding: 10px 12px;
    font-size: 15px;
    line-height: 21px;
    height: 40px;
}
.paddingleft{
    padding-left: 0px;
}
.paddingright{
    padding-right: 0px;
}
.messagebox .table tr td {
    padding: 7px;
}
.messagebox .table tr td.title {
    font-size: 13px;
    font-weight: 500;
    color: #111;
}
.messagebox .table tr td.title a{
    font-size: 13px;
    font-weight: 500;
    color: #111;
    text-decoration: none;
}
.messagebox .table tr td.comment {
    font-size: 12px;
    color: #444;
    font-weight: 400;
}
.messagebox .table tr td.time {
    font-size: 10px;
    color: #9E9E9E;
}
.messagebox, .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #0c255608 !important;
}
.messagebox .panel-default .panel-body .table {
    margin-bottom: 0px;
}
.messagebox .table tr.editshowhide {
    cursor: pointer;
}
.messagetable {
    height: 345px;
    overflow-y: scroll;
}
.messagetable::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.messagetable::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.messagetable::-webkit-scrollbar-thumb
{
    background-color: #0c2556;
}
#myTab {
    border-bottom: none;
    padding: 15px;
}
#myTabContent {
    padding-top: 5px !important;
    padding: 15px;
}
#myTab .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #0c2556 !important;
    color: #fff;
    border-radius: 3px;
}
#myTab .nav-link {
    background: #828ea7;
    color: #f1f1f1;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    text-align: center;
    margin-right: 15px;
    font-size: 15px;
}
.create .form-group {
    margin-bottom: 15px;
}
.create input {
    font-size: 13px;
}
.create textarea {
    box-shadow: 0px 3px 9px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    font-size: 14px;
    padding: 8px 20px;
}
.create select {
    box-shadow: 0px 3px 9px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    font-size: 14px;
    height: 40px;
    padding: 8px 20px;
}
.savebtn .btn-primary {
    padding: 9px 32px;
    font-size: 13px
}
.profile-grid {
    box-shadow: 0px 3px 9px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.profileimg {
    position: relative;
}
.profileimg .fa-check {
    position: absolute;
    background: #43c303;
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50px;
    top: 28px;
    right: -2px;
    left: auto;
}
.profileimg .fa-times {
    position: absolute;
    background: #ff3636;
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    padding: 2.3px 4px;
    border-radius: 50px;
    top: 28px;
    right: -2px;
    left: auto;
}
.protitle a {
    font-size: 13px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
}
.propost {
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 7px;
    line-height: 16px;
}
.posttag {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #d88900;
    line-height: 18px;
}
.leftpadding{
    padding-left: 0px;
}
.contactno span {
    background: #3AAB02;
    color: #fff;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
    line-height: 17px;
}
.profile-grid .calendarpadding a {
    color: #292929;
    text-decoration: none;
    cursor: pointer;
}
.calendarinfo {
    font-size: 10px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 6px 8px;
    margin-top: 10px;
    line-height: 16px;
}
.contactno span.busy {
    background: #fe5151;
    text-align: center;
    padding: 6px 30px;
}
.calendarpadding{
    padding-left: 0px;
}
.showmorebtn {
    margin-top: 15px;
}
.btn-light {
    border: 2px solid #0C2556;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    background: #0C2556;
    color: #fff;
    font-family: Acumin Pro;
    padding: 7px 10px 2px 10px;
    font-size: 13px;
}
.btn-light:hover{
    border: 2px solid #3aab02;
    background-color: #3aab02;
    color: #fff !important;
}
.btn-light:active{
    border: 2px solid #3aab02;
    background-color: #3aab02;
    color: #fff !important;
}
.editprofile {
    background: #fff;
    border: 1px solid #dee2e6;
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.profileinfo {
    position: relative;
    text-align: center;
    top: 30px;
}
.proimg img {
    max-width: 65%;
}
.proimg .fa-check {
    position: absolute;
    background: #43c303;
    color: #fff;
    font-size: 18px;
    width: 32px;
    height: 32px;
    padding: 7px;
    border-radius: 50px;
    top: 80px;
    left: auto;
    right: 22px;
    -webkit-text-stroke: 2px #43c303;
}
.proimg .fa-users {
    position: absolute;
    background: #018AC7;
    color: #fff;
    font-size: 15px;
    width: 32px;
    height: 32px;
    padding: 8px 7px;
    border-radius: 50px;
    top: 80px;
    left: 22px;
    right: auto;
}
.profileinfo .protitle {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    line-height: 22px;
    margin-top: 15px;
}
.profileinfo .propost {
    font-size: 14px;
    color: #8a8a8a;
    margin-top: 7px;
    line-height: 20px;
}
.profileinfo .posttag {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #D88900;
    margin-top: 7px;
    line-height: 19px;
}
.editbtn .btn-primary {
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    width: 116px;
    color: #f1f1f1;
    margin-top: 20px;
}
#messagetab1 .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #0c2556 !important;
    color: #fff;
    border-radius: 3px;
}
#messagetab1 .nav-link {
    background: #0c2556;
    color: #f1f1f1;
    border-radius: 0;
    border: none;
    border-bottom: none;
    text-align: left;
    margin-right: 0;
    font-size: 15px;
    height: 50px;
    line-height: 32px;
}
#messagetab1 .nav-item.show .nav-link, .nav-tabs .nav-link.active span {
    border-bottom: 2px solid #f1f1f1;
}
#messagetab1 li.nav-item {
    padding: 0;
}
#messagetab1 {
    padding: 0;
    background: #0c2556;
    border-bottom: 1px solid #0c2556;
}
#myTabContent2 .create {
    padding: 15px;
}
.paddingleft{
    padding-left: 0px;
}
.calendarpanel .panel-default .panel-heading {
    height: 50px;
    line-height: 30px;
}
.profilemessage {
    padding-top: 15px;
}
.form-check-input:checked {
    background-color: #0c2556;
    border-color: #0c2556;
}
.calendarform .create {
    padding: 15px;
}
#myTabdraft {
    border-bottom: none;
    padding-bottom: 0;
}
#myTabdraft li.nav-item {
    padding: 0 0px !important;
    text-align: center;
    display: block;
}
#myTabdraft .nav-link {
    background: #828ea7;
    color: #f1f1f1;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    text-align: center;
    margin-right: 15px;
    font-size: 15px;
}
#myTabdraft .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #0c2556 !important;
    color: #fff;
    border-radius: 3px;
}
.getdraft {
    height: 350px;
    overflow-y: scroll;
    margin-top: 15px;
}
.getdraft::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.getdraft::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.getdraft::-webkit-scrollbar-thumb
{
    background-color: #0c2556;
}
.getdraft .table tr td.title {
    font-size: 13px;
    font-weight: 500;
    color: #111;
}
.getdraft .table tr td.comment {
    font-size: 12px;
    color: #444;
    font-weight: 400;
}
.getdraft .table tr td.time {
    font-size: 10px;
    color: #9E9E9E;
}
.sendmessage .panel{
    margin-bottom: 15px;
}
.sendmessage .panel .panel-body {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 3px 9px #00000029;
}
#myModal .modal-dialog .modal-content {
    background-color: #f1f1f1;
}
#myModal .modal-dialog .modal-content .modal-header {
    justify-content: right;
}
#myModal .modal-dialog .modal-content .modal-header button.close {
    border: none;
    font-size: 30px;
    padding: 0;
    line-height: 20px;
    color: #ababab;
    outline: none;
    -webkit-text-stroke: .5px #f1f1f1;
}
#myModal .modal-dialog .modal-content .modal-body {
    padding: 0;
}
#myModal .modal-dialog .modal-content .modal-body .create {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.changeprofile {
    text-align: center;
    padding-top: 45px;
}
.changeprofile .proimg img {
    max-width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}
.changeprofile .proimg a span.change {
    color: #222;
    text-decoration: none;
}
.changeprofile .proimg a span.remove {
    background-color: red;
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 19px;
    border-radius: 50px;
    font-size: 12px;
    position: relative;
    bottom: 2px;
}
.changeprofile .proimg a {
    color: red;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Acumin Pro Regular';
    letter-spacing: .5px;
    text-decoration: none;
}
.editmessage {
    background: #fff;
    padding-top: 15px;
}
.editmessage .panel-default .panel-heading {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.editmessage .panel-default .panel-heading span {
    font-size: 10px;
    position: relative;
    bottom: 5px;
}
.editmessage .panel-default .panel-heading a.close-div {
    float: right;
    line-height: 0;
    font-size: 25px;
    color: #f1f1f1;
    position: relative;
    bottom: 7px;
    -webkit-text-stroke: .5px #0c2556;
}
.editmessage .panel-default .panel-body {
    padding: 15px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.form-select:disabled {
    color: #6c757d;
    background-color: #fff;
}
.editmessbtn .btn-success {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px 32px;
    font-size: 13px;
    background-color: #3AAB02;
    border-color: #3AAB02;
    border-radius: 3px;
    color: #fff;
}
.editmessbtn .btn-primary {
    width: 100%;
    margin-bottom: 10px;
}
#myModal2 .modal-dialog .modal-content {
    background-color: #f1f1f1;
}
#myModal2 .modal-dialog .modal-content .modal-header {
    justify-content: right;
}
#myModal2 .modal-dialog .modal-content .modal-header button.close {
    border: none;
    font-size: 30px;
    padding: 0;
    line-height: 20px;
    color: #ababab;
    outline: none;
    -webkit-text-stroke: .5px #f1f1f1;
}
#myModal2 .modal-dialog .modal-content .modal-body .create {
    padding-top: 50px;
    padding-bottom: 50px;
}
.notestitle {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    padding-left: 14px;
    margin-bottom: 15px;
}
.notes .table.notetable {
    background-color: #fff;
}
.notetable.table>tbody>tr>td.notedisc {
    font-size: 11px;
    color: #777;
    font-family: 'Roboto';
}
.notetable.table>tbody>tr>td {
    padding: 10px;
}
.notetable.table>tbody>tr>td.noteedit a i {
    color: #0c2556;
    font-size: 13px;
}
.notetable.table>tbody>tr>td.notetrash a i {
    color: #0c2556;
    font-size: 13px;
}
.note-editor {
  margin-bottom: 5rem !important;
}
#myModal3 .modal-dialog .modal-content button.close {
    border: none;
    font-size: 30px;
    padding: 0;
    line-height: 20px;
    color: #ababab;
    outline: none;
    -webkit-text-stroke: .5px #f1f1f1;
    background: #fff0;
    text-align: right;
    padding-right: 20px;
    padding-top: 15px;
}
.note-editor .note-editing-area {
    height: 550px;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
#myModal3 .modal-dialog .modal-content .modal-body {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.note-editor {
    position: relative;
    margin-bottom: 20px !important;
}
#notes-form-btn {
    margin-bottom: 20px;
}
.messclose {
    float: right;
    font-size: 22px;
    color: #fff;
    position: relative;
    bottom: 2px;
}
.messclose:hover{
    color: #fff;
    text-decoration: none;
}
#calendar {
    padding-top: 15px;
}
.fc .fc-button-group > * {
    background: #0c2556 !important;
    padding: 5px !important;
    line-height: 15px !important;
}
.fc-icon-left-single-arrow:after{
	color: #fff;
}
.fc-icon-right-single-arrow:after{
	color: #fff;
}
.fc .fc-button-group > button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.fc-today-button {
    background: #828ea7 !important;
    color: #fff !important;
    font-weight: 200;
    text-transform: capitalize;
}
.fc-toolbar .fc-center {
    display: inherit;
    float: right;
}
.fc-toolbar .fc-center h2 {
    font-size: 18px;
    padding-right: 15px;
    padding-top: 5px;
}
.fc-widget-header table tr th {
    font-weight: 500;
    color: #0c2556;
}
.fc-row.fc-rigid .fc-content-skeleton table tr td span {
    padding: 22px;
}
.fc-scroller{
	height: 280px !important;
}
.fc-scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.fc-scroller::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.fc-scroller::-webkit-scrollbar-thumb
{
    background-color: #0c2556;
}
.editmessagedraft .panel-default .panel-heading {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.editmessagedraft .panel-default .panel-heading span {
    font-size: 10px;
    position: relative;
    bottom: 5px;
}
.editmessagedraft .panel-default .panel-heading a.close-div {
    float: right;
    line-height: 0;
    font-size: 25px;
    color: #f1f1f1;
    position: relative;
    bottom: 7px;
    -webkit-text-stroke: .5px #0c2556;
}
.getdraft .table tr.editshowhidedraft {
    cursor: pointer;
}
.messagebox{
	position: relative;
}
#overlay{	
  position: absolute;
  top: 40%;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #0c2556 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
/***********End*****************/