.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
/***********17-sep-2021*********/
.loginpage{
    background: #fff;
    overflow-y: hidden;
}
.main-login .col-sm-8 {
    width: 60%;
}
.secretarybanner img {
    width: 100%;
    /*height: 100vh;*/
}
.login-section {
    padding-top: 20px;
    margin: 50px;
}
.login-section h1 {
    font-family: 'Acumin Pro Regular';
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}
.login-section p.lead {
    font-family: 'Acumin Pro Regular';
    font-weight: 600;
    color: #000;
    font-size: 15px;
    letter-spacing: .5px;
    margin-top: 50px;
}
.login-section small a {
    color: #000;
    font-weight: 500;
    font-family: 'Acumin Pro Regular';
    letter-spacing: .5px;
    font-size: 12px;
}
.login-section span.form-check-label {
    color: #000;
    font-weight: 500;
    font-family: 'Acumin Pro Regular';
    letter-spacing: .5px;
    font-size: 14px;
}
.inputstyle {
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    font-size: 13px;
}
.inputstyle:focus {
    outline: none;
    border-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}
.btn-primary {
    background-color: #0C2556;
    border-color: #0C2556;
    border-radius: 3px;
}
.btn-primary:hover{
    background-color: #113477;
    border-color: #113477;
}
.btn-primary:active{
    background-color: #0C2556;
    border-color: #0C2556;
    color: #fff;
}
.btn-primary:focus{
    background-color: #0C2556;
    border-color: #0C2556;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.loginbtn .btn-primary {
    padding: 6px 40px;
}
.logo a h1 {
    font-family: 'Acumin Pro Regular';
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    color: #000;
    margin-bottom: 0;
}
.navbar-bg {
    background: #f1f1f1;
    box-shadow: 0px 3px 6px #00000029;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-expand .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0;
    font-size: 13px;
    margin-top: 10px;
    min-width: 100px;
}
.dropdown-divider {
    height: 0;
    margin: 0px 10px;
    overflow: hidden;
    border-top: 1px solid #f1f1f1;
}
.navbar-align .dropdown-toggle:after{
    display: none;
}
.togglebar i {
    font-size: 18px;
    color: #999;
    margin-left: 25px;
}
.content {
    padding: 0;
}
.border-right{
    border-right: 1px solid #dee2e6 !important;
}
.dashboard-left h2 {
    font-family: 'Acumin Pro Regular';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #0C2556;
    padding-top: 15px;
}
.dashboard-right .nav-tabs {
    background: #fff;
    padding: 12px;
}
.dashboard-right .nav-tabs li a.active {
    border-bottom: 2px solid #0C2556;
    padding-bottom: 7px;
}
.dashboard-right .nav-tabs li.active {
    border-bottom: 2px solid #0C2556;
}
.dashboard-right .nav-tabs li {
    padding: 0 25px;
}
.dashboard-right .nav-tabs li a {
    font-family: 'Acumin Pro Regular';
    color: #0C2556;
    text-decoration: none;
}
.messagebtn .btn-primary {
    font-size: 13px;
    font-weight: 300;
    padding: 6px 32px;
}
.searchmember {
    margin-top: 20px;
    margin-bottom: 20px;
}
#searchinput .input-group-btn {
    position: absolute;
    right: 12px;
    left: auto;
    top: 5px;
    cursor: pointer;
    z-index: 9999;
}
#searchinput .input-group-btn .fa-search {
    -webkit-text-stroke: 1px #ffffff;
    color: #000;
}
.searchkeyword ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
}
.searchkeyword label {
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
}
.searchkeyword .custom-radio label > input {
    visibility: hidden;
    position: absolute;
}
.searchkeyword label > input + .forcustom {
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    font-size: 13px;
    padding: 8px 25px;
}
.searchkeyword label > input:checked + .forcustom {
    border: none;
    color: #fff;
    background: #0C2556;
}
.searchkeyword label > .counter {
    position: absolute;
    right: -6px;
    background: #0c2556;
    z-index: 999999;
    color: #fff;
    font-size: 11px;
    width: 18px;
    text-align: center;
    padding: 1px;
    border-radius: 50px;
    height: 18px;
    bottom: 20px;
}
.searchkeyword {
    width: 100%;
    display: inline-block;
}
.panel-default .panel-heading {
    background: #0c2556;
    color: #fff;
    padding: 8px 12px;
    font-size: 13px;
}
.paddingleft{
    padding-left: 0px;
}
.paddingright{
    padding-right: 0px;
}
.messagebox .table tr td {
    padding: 7px;
}
.messagebox .table tr td.title {
    font-size: 11px;
    font-weight: 600;
    color: #000;
}
.messagebox .table tr td.comment {
    font-size: 10px;
}
.messagebox .table tr td.time {
    font-size: 9px;
}
.messagebox .panel-default .panel-body .table {
    margin-bottom: 0px;
}
.messagebox .panel-default .panel-body {
    height: 230px;
    overflow-y: scroll;
}
.messagebox .panel-default .panel-body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.messagebox .panel-default .panel-body::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.messagebox .panel-default .panel-body::-webkit-scrollbar-thumb
{
    background-color: #0c2556;
}
#myTab {
    border-bottom: none;
    padding: 15px;
}
#myTabContent {
    padding-top: 5px !important;
    padding: 15px;
}
#myTab .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #0c2556 !important;
    color: #fff;
    border-radius: 3px;
}
#myTab .nav-link {
    background: #828ea7;
    color: #f1f1f1;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    text-align: center;
    margin-right: 15px;
    font-size: 13px;
}
.create .form-group {
    margin-bottom: 15px;
}
.create input {
    font-size: 13px;
}
.create textarea {
    padding: .35rem 1rem;
    font-size: 13px;
}
.create select {
    padding: .35rem 1rem;
    height: 35px;
    font-size: 13px;
}
.savebtn .btn-primary {
    padding: 6px 32px;
    font-size: 13px;
}
.profile-grid {
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    border-radius: 3px;
    border-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.profileimg {
    position: relative;
}
.profileimg .fa-check {
    position: absolute;
    background: #43c303;
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50px;
    top: 28px;
    right: -2px;
    left: auto;
}
.profileimg .fa-times {
    position: absolute;
    background: #ff3636;
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    padding: 2.3px 4px;
    border-radius: 50px;
    top: 28px;
    right: -2px;
    left: auto;
}
.protitle a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.propost {
    font-size: 12px;
    color: rgba(138,138,138,1);
    margin-top: 7px;
}
.posttag {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(216,137,0,1);
}
.contactno span {
    background: #43c303;
    color: #fff;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}
.calendarinfo {
    font-size: 10px;
    border: 2px solid #cbcbcb;
    border-radius: 4px;
    padding: 6px 8px;
    margin-top: 10px;
}
.contactno span.busy {
    background: #fe5151;
    text-align: center;
    padding: 6px 30px;
}
.calendarpadding{
    padding-left: 5px;
}
/***********End*****************/